<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link href="/css/home.css" rel="stylesheet">
		<title>Feed</title>
 	</head>
	<body>
		<div class="navbar-fixed">
			<nav class="transparent">
				<div class="nav-wrapper transparent">
					<a href="#" class="brand-logo center grey-text">PetsApp</a>
					<ul id="nav-mobile" class="left">
        		<li><a href="/home">
  <img class="responsive-img icons header-icons" src="/imgs/home.png">
</a></li>
      		</ul>
				</div>
			</nav>
		</div>
		<div class="container">
		  <div class="row"></div>
			<div class="row right>"
			</div>
			<div class="row left>"
				   <p align="left"> </p>
				<h3>Feed Store</h3>

				    <h1>Hunger Bar</h1>
      <progress id="myProgress" value="0" max="100"></progress>
        </div>
      			<div class="row left">
				<div class="row"></div>
				<div class="col s10">
				<a onclick="smallfeed()" class="waves-effect waves-light btn blue">Small </a>
				<div class="row left">
				<div class="row"></div>
				<div class="col s10">
				<a onclick="mediumfeed()" class="waves-effect waves-light btn blue">Medium</a>
				<div class="row left">
				<div class="row"></div>
				<div class="col s10">
				<a onclick="largefeed()" class="waves-effect waves-light btn blue">
				large feed</a>
			</div>
		</div>
		<footer class="page-footer transparent">
	    <div class="container">
	      <div class="row">
					<div class="col s3 center-align">
            <a href="/goals">
              <!--
              <img class="responsive-img icons footer-icons" src="/imgs/goals-icon.png">
              -->
              <i class="fas fa-list fa-2x black-text"></i>
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/feed">
              <!--
              <img class="responsive-img icons footer-icons" src="/imgs/feed-icon.png">
              -->
              <i class="fas fa-utensils fa-2x black-text"></i>
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/house" class="center-align">
              <!--
              <img class="responsive-img center-align footer-icons" id="store-icon" src="/imgs/store-icon.png">
              -->
              <i class="fas fa-home fa-2x black-text"></i>
            </a>
          </div>
	        <div class="col s3 center-align">
	          <a href="/profile" class="center-align">
	            <img class="responsive-img center-align footer-icons" src="/imgs/cat-profile.png">
	          </a>
	        </div>
	      </div>
	    </div>
		</footer>
		<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
		<script src="js/feed.js" charset="utf-8"></script>
	</body>
</html>
