<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
		<link href="/css/home.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<title>Goals</title>
 	</head>
 	<body>
		<div class="navbar-fixed">
			<nav class="transparent">
				<div class="nav-wrapper transparent">
					<a href="#" class="brand-logo center grey-text">PetsApp</a>
					<ul id="nav-mobile" class="left">
        		<li><a href="/home">
  						<img class="responsive-img icons header-icons" src="/imgs/home.png">
						</a></li>
      		</ul>
				</div>
			</nav>
		</div>
    <div class="container">
	    <h3>Goals</h3>
			<ul id="goalsList" class="collection">
			</ul>
		</div>
		<footer class="page-footer transparent">
      <div class="container">
        <div class="row">
					<div class="col s3 center-align">
            <a href="/goals">
              <i id="icon_goals" class="fas fa-list fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Goals</span>
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/feed">
              <i class="fas fa-utensils fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Feed</span>
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/house" class="center-align">
              <i class="fas fa-shopping-cart fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Store</span>
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/profile" class="center-align">
              <i class="fas fa-user fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Profile</span>
            </a>
          </div>
        </div>
      </div>
    </footer>
		<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
		<script type="text/javascript">
      $(document).ready(() => {
        $.ajax({
          url: '/users/John',
          type: 'get',
          dataType: 'json',
          success: (data) => {
						data.goals.forEach((g) => {
							console.log(g);
							$("#goalsList").append('<li class="collection-item">'+ g +'</li>');
						});
          },
        });
      });
    </script>
	</body>
</html>
