<!-- Implementation Notes
  The home page implements basic HTML, CSS and Javascript. Our javascript
  implementation consists of ajax calls to our back end to check our user
  goals, and to save create goals
  Our javascript allows our users to create dated goals for steps and calorie burning
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
		<link href="/css/home.css" rel="stylesheet">
		<title>Goals</title>
 	</head>
 	<body>
		<div class="navbar-fixed">
			<nav class="grey lighten-4">
				<div class="nav-wrapper">
					<a href="#" class="brand-logo center grey-text">Fitty</a>
          <ul id="nav-mobile" class="right">
          	<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Help</a>
          </ul>
				</div>
			</nav>
		</div>
    <div class="container">
			<div id="modal1" class="modal">
				<div class="modal-content">
					<h4>Help</h4>
					<p>This is the goals page. Here, you can input your own goals to encourage you to keep up the good work!</p>
				</div>
				 <div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat">Return</a>
				</div>
			</div>
	    <h3>Goals</h3>

			<ul id="goalsList" class="collection">
				{{#each goals}}
					{{#if isWalk}}
						<li class="collection-item">Walk {{amount}} steps by {{date}}</li>
					{{/if}}
					{{#if isBurn}}
						<li class="collection-item">Burn {{amount}} calories by {{date}}</li>
					{{/if}}
				{{/each}}
			</ul>

			<div id="goals-form">
				<form action="/goals" method="post">
					<h5>Select a goal<h5>
					<div class="input-field col s12">
	    			<select name="goal[goal_title]" id="goal">
				      <option value="" disabled selected>Options</option>
				      <option value="walk" onselect="showText()">Walk</option>
				      <option value="burn">Burn calories</option>
	    			</select>
	  			</div>
					<div id="secondInput"></div>

				</form>
			</div>
		</div>
		<a class="btn-floating btn-large waves-effect waves-light red" id="add-goal"><i class="material-icons">add</i></a>
		<footer class="page-footer grey lighten-4">
      <div class="container">
        <div class="row center">
					<div class="col s4">
            <a href="/goals">
              <i class="fas fa-list fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Goals</span>
            </a>
          </div>
          <div class="col s4">
            <a href="/home">
              <i class="fas fa-home fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Home</span>
            </a>
          </div>
          <div class="col s4">
            <a href="/profile">
              <i class="fas fa-user fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Profile</span>
            </a>
          </div>
        </div>
      </div>
    </footer>
		<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="js/modal.js" charset="utf-8"></script>
		<script src="js/goals.js" charset="utf-8"></script>
	</body>
</html>
