<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<title>Skeleton_Goals</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
		<link href="/css/home.css" rel="stylesheet">

 	</head>
 	<body>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper blue">
					<a href="#" class="brand-logo center"><h4>PetsApp</h4></a>
					<ul id="nav-mobile" class="left">
        		<li><a href="/home"><h5>Home</h5></a></li>
      		</ul>
				</div>
			</nav>
		</div>

    <div class="container">
	    <h1>
	    	Goals
	    </h1>
			<ul id="goalsList" class="collection">
			</ul>
		</div>
		
		<footer class="page-footer blue">
      <div class="container">
        <div class="row">
          <div class="col s3 center-align">
            <a href="/goals">
              <img class="responsive-img icons footer-icons" src="/imgs/goals-icon.png">
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/feed">
              <img class="responsive-img icons footer-icons" src="/imgs/feed-icon.png">
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/house" class="center-align">
              <img class="responsive-img center-align footer-icons" id="store-icon" src="/imgs/store-icon.png">
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/profile" class="center-align">
              <img class="responsive-img center-align footer-icons" src="/imgs/profile-icon.png">
            </a>
          </div>
        </div>
      </div>
    </footer>
			<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
			<script type="text/javascript">
	      $(document).ready(() => {
	        $.ajax({
	          url: '/users/John',
	          type: 'get',
	          dataType: 'json',
	          success: (data) => {
							data.goals.forEach((g) => {
								console.log(g);
								$("#goalsList").append('<li class="collection-item">'+ g +'</li>');
							});
	          },
	        });
	      });
	    </script>

	</body>
</html>
