<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="/css/home.css" rel="stylesheet">
    <title>Home</title>
  </head>
  <body class="home">
    <div class="navbar-fixed">
      <nav class="transparent">
        <div class="nav-wrapper grey lighten-4">
          <a href="#" class="brand-logo center grey-text">PetsApp</a>
          <ul id="nav-mobile" class="left">
            <li><a class="grey-text" href="/logout">Logout</a></li>
          </ul>
          <ul id="nav-mobile" class="right">
            <li><a class="grey-text" href="/help">Help</a></li>
          </ul>
        </div>
      </nav>
    </div>  <!-- End navbar -->
    <div class="main-content">
      <div class="container">
        <div class="row center">
          <div class="col s12">
            <img id="petImg" class="responsive-img" alt=""></img>
          </div>
          <div class="col s12">
            <h4>Hunger</h4>
            <progress id="Hunger" value="{{currentUser.hunger}}" max="5000"></progress>
            <h5 id="totalPoints">Total Points: {{currentUser.total_points}}</h5>
            <input type="hidden" id="points" value="{{currentUser.total_points}}"
            {{currentUser.hunger}}
        </div>
        </div>
      </div>
    </div>

    <div class="shopping-items grey">
      <div class="item">
        <div class="points center-align">
          100 pts
        </div>
        <div class="img center-align">
          <img src="/imgs/burger.png" class="responsive-img">
        </div>
        <div class="feed">
          <button class="feed-btn btn waves-effect waves-light" onclick="feedBurger()">Feed</button>
        </div>
      </div>
      <div class="item">
        <div class="points center-align">
          200 pts
        </div>
        <div class="img center-align">
          <img src="/imgs/chicken.png" class="responsive-img">
        </div>
        <div class="feed">
          <button class="feed-btn btn waves-effect waves-light" onclick="feedChicken()">Feed</button>
        </div>
      </div>
      <div class="item">
        <div class="points center-align">
          300 pts
        </div>
        <div class="img center-align">
          <img src="/imgs/corn.png" class="responsive-img">
        </div>
        <div class="feed">
          <button class="feed-btn btn waves-effect waves-light" onclick="feedCorn()">Feed</button>
        </div>
      </div>
      <div class="item center-align">
        <div class="points">
          400 pts
        </div>
        <div class="img center-align">
          <img src="/imgs/grape.png" class="responsive-img">
        </div>
        <div class="feed">
          <button class="feed-btn btn waves-effect waves-light" onclick="feedGrapes()">Feed</button>
        </div>
      </div>
    </div>

    <footer class="page-footer grey lighten-4">
      <div class="container">
        <div class="row">
          <div class="col s4 center">
            <a href="/goals">
              <i class="fas fa-list fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Goals</span>
            </a>
          </div>
          <div class="col s4 center">
            <a href="#">
              <i class="fas fa-home fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Home</span>
            </a>
          </div>
          <div class="col s4 center">
            <a href="/profile">
              <i class="fas fa-user fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Profile</span>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="js/feed.js" charset="utf-8"></script>
    <script>
      $(document).ready(() => {
        $.ajax({
          url: '/users/John',
          type: 'get',
          dataType: 'json',
          success: (data) => {
            $('#petImg').attr('src', data.img);
            $('#petName').text(data.pet);
          },
        });
      });
    </script>
  </body>
</html>
