<!-- Implementation Notes
  The home page implements basic HTML, CSS and Javascript. Our javascript
  implementation consists of ajax calls to our back end to check that our user
  has enough points to feed our pet, and that our pet is hungry enough to feed.
  Our javascript fills the hunger bar and changes the total points the user has.
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <title>Home</title>
  </head>
  <body class="home">
    <div class="navbar-fixed">
      <nav class="grey lighten-4">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center grey-text">Fitty</a>
          <ul id="nav-mobile" class="left">
            <li><a class="grey-text" href="/logout">Logout</a></li>
          </ul>
          <ul id="nav-mobile" class="right">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Help</a>
          </ul>
        </div>
      </nav>
    </div>  <!-- End navbar -->
    <div class="main-content">
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4 class="grey-text darken-2">Help</h4>
          <p class="grey-text">Welcome! This is the home screen. Here, you can taka care of your pet. First, gain points from staying healthy by accumulating steps and burning calories! Then, use those points to buy food to keep the kitty from starving! The more expensive food items will provide more food. If you're running out of points you are encouraged to work out more!</p>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Return</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row center">

          <div class="col s12">
            <h5>Hunger</h5>
            <progress id="Hunger" value="{{currentUser.hunger}}" max="5000"></progress>
            <h6 id="totalPoints">Total Points: {{currentUser.total_points}}</h6>
            <input type="hidden" id="points" value="{{currentUser.total_points}}">
          </div>

          <div class="col s12">
            <img id="petImg" class="responsive-img" alt=""></img>
          </div>

        </div>
      </div>
    </div>
    <div class="shopping-items">
      <div class="item">
        <div class="points center-align">
          100 pts
        </div>
        <div class="img center-align">
          <img src="/imgs/burger.png" class="responsive-img">
        </div>
        <div class="feed">
          <button class="feed-btn btn waves-effect waves-light" onclick="feedBurger()">Feed</button>
        </div>
      </div>
      <div class="item">
        <div class="points center-align">
          200 pts
        </div>
        <div class="img center-align">
          <img src="/imgs/chicken.png" class="responsive-img">
        </div>
        <div class="feed">
          <button class="feed-btn btn waves-effect waves-light" onclick="feedChicken()">Feed</button>
        </div>
      </div>
      <div class="item">
        <div class="points center-align">
          300 pts
        </div>
        <div class="img center-align">
          <img src="/imgs/corn.png" class="responsive-img">
        </div>
        <div class="feed">
          <button class="feed-btn btn waves-effect waves-light" onclick="feedCorn()">Feed</button>
        </div>
      </div>
      <div class="item center-align">
        <div class="points">
          400 pts
        </div>
        <div class="img center-align">
          <img src="/imgs/grape.png" class="responsive-img">
        </div>
        <div class="feed">
          <button class="feed-btn btn waves-effect waves-light" onclick="feedGrapes()">Feed</button>
        </div>
      </div>
    </div>
    <footer class="page-footer grey lighten-4">
      <div class="container">
        <div class="row">
          <div class="col s4 center">
            <a href="/goals">
              <i class="fas fa-list fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Goals</span>
            </a>
          </div>
          <div class="col s4 center">
            <a href="#">
              <i class="fas fa-home fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Home</span>
            </a>
          </div>
          <div class="col s4 center">
            <a href="/profile">
              <i class="fas fa-user fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Profile</span>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="js/feed.js" charset="utf-8"></script>
    <script src="js/home.js" charset="utf-8"></script>
    <script src="js/modal.js" charset="utf-8"></script>
  </body>
</html>
