<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(() => {
        $.ajax({
          url: '/users/John',
          type: 'get',
          dataType: 'json',
          success: (data) => {
            $('#petImg').attr('src', data.img);
            $('#petName').text(data.pet);
          },
        });
      });
    </script>

    <link href="/css/home.css" rel="stylesheet">

    <title>Home</title>
  </head>
  <body class="home">
    <div class="container">
      <!-- <div class="row"></div>
      <div class="row center">
        <div class="col s4">
          <a href="/goals" class="waves-effect waves-light btn red">Goals</a>
        </div>
        <div class="col s4">
          <a href="/profile" class="waves-effect waves-light btn orange">Profile</a>
        </div>
        <div class="col s4">
          <a href="/" class="waves-effect waves-light btn yellow">Logout</a>
        </div>
      </div> -->
      <div class="row center">
        <div class="col s12">
          <img id="petImg" alt=""></img>
          <h1 id="petName"></h1>
        </div>
      </div>
      <!-- <div class="row center">
        <div class="col s4">
          <a href="/feed" class="waves-effect waves-light btn green">Feed(Store)</a>
        </div>
        <div class="col s4">
          <a href="/house" class="waves-effect waves-light btn blue">House</a>
        </div>
        <div class="col s4">
          <a href="/friends" class="waves-effect waves-light btn purple">Friends</a>
        </div>
      </div> -->

    </div>
    <div class="container iconbar">
      <div class="row">
        <div class="col s3 center-align">
          <a href="/goal">
            <img class="responsive-img icons" src="/imgs/goals-icon.png">
          </a>
        </div>

        <div class="col s3 center-align">
          <a href="/feed">
            <img class="responsive-img icons" src="/imgs/feed-icon.png">
          </a>
        </div>

        <div class="col s3 center-align">
          <a href="/house" class="center-align">
            <img class="responsive-img center-align" id="store-icon" src="/imgs/store-icon.png">
          </a>
        </div>

        <div class="col s3 center-align">
          <a href="/profile" class="center-align">
            <img class="responsive-img center-align" src="/imgs/profile-icon.png">
          </a>
        </div>

      </div>
    </div>
  </body>
</html>
