<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="js/home.js" charset="utf-8"></script>
    <title>Skeleton</title>
  </head>
  <body>
    <div class="container">
      <div class="row center">
        <div class="col s12">
          <img class="responsive-img" id="petImg" alt=""></img>
          <h1 id="petName"></h1>
        </div>
      </div>
      <div class="row center">
        <div class="col s4 red">
          <a href="/goals" class="waves-effect waves-light btn red">Goals</a>
        </div>
        <div class="col s4 blue">
          <a href="/profile" class="waves-effect waves-light btn blue">Profile</a>
        </div>
        <div class="col s4 yellow">
          <a href="/" class="waves-effect waves-light btn yellow">Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>
