<!-- Implementation Notes

-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <title>Log-in</title>
  </head>
  <body>
    <div class="navbar-fixed">
			<nav class="grey lighten-4">
				<div class="nav-wrapper">
					<a href="#" class="brand-logo center grey-text">Fitty</a>
				</div>
			</nav>
		</div>
    <div class="container">
      <div class="card form-box grey lighten-4">
        <div class="row center">
          <h3 class="grey-text">Login</h3>
        </div>
        <form action='/login' method="POST">
          <div class="input-field transparent">
            <input id="usernameBox" type="text" placeholder="Username" name="username" class="validate"></input>
            <label for="usernameBox"></label>
          </div>
          <div class="input-field transparent">
            <input id="passwordBox" type="password" placeholder="Password" name="password" class="validate"></input>
            <label for="passwordBox"></label>
          </div>
          <div class="row center">
            <button id="loginButton" type="submit" class="waves-effect waves-light btn grey darken-1">Login</button>
            <a class="grey-text" href="/register">Register</a>
          </div>
        </form>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
