<!-- Implementation Notes
  The profile page implements basic HTML, CSS and Javascript. Our javascript
  implementation consists of ajax calls to the Fitbit API to retrieve basic user
  information such as their username, steps for the past week, and calories
  burned in the past week. We used the C3 Javascript library to display this
  information in clean line graphs,so the user can see their progress for the
  week.
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/c3@0.6.0/c3.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <title>Profile</title>
  </head>
  <body>
    <div class="navbar-fixed">
			<nav class="grey lighten-4">
				<div class="nav-wrapper">
					<a href="#" class="brand-logo center grey-text">Fitty</a>
          <ul id="nav-mobile" class="right">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Help</a>
          </ul>
				</div>
			</nav>
		</div>
    <div class="container">
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Help</h4>
          <p>This is your profile. After connecting with Fitbit, you can see your step and calorie burn progress. Don't forget to feed your pet!</p>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Return</a>
          </div>
        </div>
      </div>
      <h3>Profile</h3>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <h5 id="user_name"></h5>
            <p id="user_desc"></p>
          </div>
          <h6>Steps</h6>
          <div class="white" id="chart1"></div>
          <br></br>
          <h6>Calories Burned</h6>
          <div class="white" id="chart2"></div>
        </div>
      </div>
    </div>
    <footer class="page-footer grey lighten-4">
      <div class="container">
        <div class="row center">
          <div class="col s4">
            <a href="/goals">
              <i class="fas fa-list fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Goals</span>
            </a>
          </div>
          <div class="col s4">
            <a href="/home">
              <i class="fas fa-home fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Home</span>
            </a>
          </div>
          <div class="col s4">
            <a href="#">
              <i class="fas fa-user fa-2x grey-text"></i>
              </br>
              <span class="grey-text">Profile</span>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@5.4.0/dist/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/c3@0.6.0/c3.min.js"></script>
    <script src="js/profile.js" charset="utf-8"></script>
    <script src="js/modal.js" charset="utf-8"></script>
  </body>
</html>
