<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="/css/home.css" rel="stylesheet">

    <title>Skeleton_Profile</title>
  </head>
  <body>
    <div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper blue">
					<a href="#" class="brand-logo center"><h4>PetsApp</h4></a>
					<ul id="nav-mobile" class="left">
        		<li><a href="/home"><h5>Home</h5></a></li>
      		</ul>
				</div>
			</nav>
		</div>

    <div class="container">
      <h1>
        Profile
      </h1>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <p id="user_name"></p>
            <p id="user_age"></p>
            <p id="user_gender"></p>
            <p id="user_height"></p>
            <p id="user_weight"></p>
          </div>
          <div class="row center">
            <a href="/connect" class="waves-effect waves-light btn orange">Connect with Fitbit</a>
          </div>
          <div class="row center">
            <a id="get_info" class="waves-effect waves-light btn blue">Get Profile Information</a>
          </div>
        </div>
      </div>
    </div>

    <footer class="page-footer blue">
      <div class="container">
        <div class="row">
          <div class="col s3 center-align">
            <a href="/goals">
              <img class="responsive-img icons footer-icons" src="/imgs/goals-icon.png">
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/feed">
              <img class="responsive-img icons footer-icons" src="/imgs/feed-icon.png">
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/house" class="center-align">
              <img class="responsive-img center-align footer-icons" id="store-icon" src="/imgs/store-icon.png">
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/profile" class="center-align">
              <img class="responsive-img center-align footer-icons" src="/imgs/profile-icon.png">
            </a>
          </div>
        </div>
      </div>
    </footer>



    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(() => {
        var URL;
        var ACCESS_TOKEN;
        var USER_ID;

        $('#get_info').click(() => {
          URL = window.location.href;
          ACCESS_TOKEN = URL.split('#')[1].split('=')[1].split('&')[0];
          USER_ID = URL.split('#')[1].split('=')[2].split('&')[0];
          $.ajax({
            url: 'https://api.fitbit.com/1/user/' + USER_ID + '/profile.json',
            type: 'GET',
            headers: {
              Authorization: 'Bearer ' + ACCESS_TOKEN,
            },
            dataType: 'json',
            success: (data) => {
              $('#user_name').text('Name: ' + data.user.fullName);
              $('#user_age').text('Age: ' + data.user.age);
              $('#user_gender').text('Gender: ' + data.user.gender);
              $('#user_height').text('Height: ' + data.user.height);
              $('#user_weight').text('Weight: ' + data.user.weight);
              alert('Successfully retrieved user\'s Fitbit data!');
            },
          });
        });
      });
    </script>
  </body>
</html>
