<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/c3@0.6.0/c3.min.css">
    <title>Skeleton_Profile</title>
  </head>
  <body>
    <div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper blue">
					<a href="#" class="brand-logo center"><h4>PetsApp</h4></a>
					<ul id="nav-mobile" class="left">
        		<li><a href="/home"><h5>Home</h5></a></li>
      		</ul>
				</div>
			</nav>
		</div>
    <div class="container">
      <h1>
        Profile
      </h1>
      <div class="container">
        <div class="white" id="chart1"></div>
        <div class="row center">
          <div class="col s12">
            <a id="get_steps_data" class="waves-effect waves-light btn blue white-text">Get Steps</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <table class="centered responsive">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Height</th>
                  <th>Weight</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="user_name">-</td>
                  <td id="user_age">-</td>
                  <td id="user_gender">-</td>
                  <td id="user_height">-</td>
                  <td id="user_weight">-</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row center">
        <div class="col s12 m4 orange">
          <a href="/home" class="waves-effect waves-light btn orange">Home</a>
        </div>
        <div class="col s12 m4 pink">
          <a href="/connect" class="waves-effect waves-light btn pink">Connect with Fitbit</a>
        </div>
        <div class="col s12 m4 blue">
          <a id="get_profile_info" class="waves-effect waves-light btn blue white-text">Get Profile Information</a>
        </div>
      </div>
    </div>
    <footer class="page-footer blue">
      <div class="container">
        <div class="row">
          <div class="col s3 center-align">
            <a href="/goals">
              <img class="responsive-img icons footer-icons" src="/imgs/goals-icon.png">
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/feed">
              <img class="responsive-img icons footer-icons" src="/imgs/feed-icon.png">
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/house" class="center-align">
              <img class="responsive-img center-align footer-icons" id="store-icon" src="/imgs/store-icon.png">
            </a>
          </div>
          <div class="col s3 center-align">
            <a href="/profile" class="center-align">
              <img class="responsive-img center-align footer-icons" src="/imgs/profile-icon.png">
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="js/profile.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@5.4.0/dist/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/c3@0.6.0/c3.min.js"></script>
    <script>
      var chart1 = c3.generate({
        bindto: '#chart1',
        data: {
          columns: [
            ['data1', 30, 200, 100, 400, 150, 250],
            ['data2', 50, 20, 10, 40, 15, 25],
          ],
        },
      });

      $('#get_activity_data').click(function () {
        chart1.show(['data1']);
      });
    </script>
  </body>
</html>
