<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="/css/home.css" rel="stylesheet">
    <title>Register</title>
  </head>
  <body>
    <div class="navbar-fixed">
			<nav class="transparent">
				<div class="nav-wrapper transparent">
					<a href="#" class="brand-logo center grey-text">PetsApp</a>
				</div>
			</nav>
		</div>
    <div class="container">
      <div class="card form-box white">
        <div class="row center">
          <h3>Register</h3>
        </div>
        <form action='/register' method="POST">
          <div class="input-field">
            <input id="usernameBox" type="text" placeholder="Username" name="username" class="validate"></input>
            <label for="usernameBox"></label>
          </div>
          <div class="input-field">
            <input id="passwordBox" type="password" placeholder="Password" name="password" class="validate"></input>
            <label for="passwordBox"></label>
          </div>
          <div class="row center">
            <button type="submit" id="loginButton" class="waves-effect waves-light btn blue">Register</button>
            <a href="/login">Cancel</a>
          </div>
        </form>
      </div>
      <!--
      <div class="row center">
        <form action="/register" method="POST">
          <div class="input-field col s12">
            <input id="usernameBox" type="text" class="validate" name="username" placeholder="Username"></input>
            <label for="usernameBox"></label>
            <input id="passwordBox" type="password" class="validate" name="password" placeholder="Password"></input>
            <label for="passwordBox"></label>
          </div>
          <button type="submit" id="loginButton" class="waves-effect waves-light btn">Register</button>
        </form>
      </div>
      -->
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
