/* Implementation Notes
  CSS styling for our application
*/
body {
  background-image: url("/imgs/paws-bg.jpg");
  background-repeat: repeat;
  background-position: top center;
  margin-bottom: 100px;
}


.icons {
  max-width: 8vh;
	max-height: 8vh;
}

#store-icon {
  max-height: 8vh;
  vertical-align: center;
}

.iconbar {
  margin-top: 80vh;
}

.input-field {
  background-color: #fff;
}

.navbar-fixed {
  margin-bottom: 15px;
}

.card {
  margin: 0 auto 0 auto;
  max-width: 35rem;
  background: none;
}

#petName {
  margin-top: 0;
  margin-bottom: 0;
}

.page-footer {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
}

.header-icons {
  width: 33px;
  height: 33px;
  margin-top: 35%;
}

.main-content {
  height: 45vh;
  padding-top: 7vh;
}

.main-content .container {
  margin: auto;
}

.shopping-items {
  max-width: 700px;
  width: auto;
  font-size: 1.5rem;
  color: #000;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 20px 0 20px;
}

.shopping-items .item {
  height: 150px;
  width: 125px;
  margin: 0 7px 2px 7px;
  display: inline-block;
}

.item .img {
  height: 90px;
  padding: 0 0 10px 0;
}

.item .img img {
  height: 100%;
}

.item button {
  width: 100%;
}

@media screen and (max-width: 991px){
  .button-stack-margin {
    margin-bottom: 4px;
  }
}

.form-box {
  max-width: 350px;
  max-height: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 20px;
}

#loginButton {
  margin-right: 20px;
}

.valign-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(30%);
}

.food {
  max-height: 70px;
}

#Hunger {
  width: 75%;
  background-color: #ddd;
}
